html,
#app {
  background-color: transparent;
}

// to prevent offcanvas from jumping
html {
  height: 100vh;
  padding: 0;
}
body,
#app,
.layout-container {
  min-height: 100vh;
  padding: 0;
}

html {
  @apply scrollbar;
  @apply scrollbar-thumb-dark-300 scrollbar-track-dark-800;
}

body {
  overflow-y: scroll;
}

.bg-flat {
  background-color: #fff;
  @media (prefers-color-scheme: dark) {
    background-color: #191919;
  }
}

.show-when-wide {
  @media not all and (min-width: 640px) {
    display: none;
  }
}
.show-when-narrow {
  @media (min-width: 640px) {
    display: none;
  }
}

body.no-overflow {
  overflow: hidden;
  position: absolute;
  inset: 0;
}

// dark mode for @tailwindcss/forms
[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  outline: 2px solid transparent;
  outline-offset: 2px;
  // transition: box-shadow 0.15s ease, opacity 0.15s ease;

  &:focus,
  &:focus-visible {
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) #0089ff;
  }

  border-color: rgb(243, 244, 256);
  background-color: rgb(255, 255, 255);

  @media (prefers-color-scheme: dark) {
    border-color: rgb(55, 65, 81);
    background-color: rgb(25, 25, 25);
  }

  &.valid {
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) #10b981;
  }

  &.invalid {
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) #f37510;
  }

  &:disabled {
    opacity: 0.5;
  }
}

button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a,
button {
  &:focus-visible {
    outline: 2px dotted black;
    outline-offset: 2px;

    @media (prefers-color-scheme: dark) {
      outline: 2px dotted white;
      outline-offset: 2px;
    }
  }
}

.icon-inline {
  display: inline;
  position: relative;
  top: -0.1rem;

  &:not([class*="h-"]) {
    height: 1.2em;
  }
  &:not([class*="w-"]) {
    width: 1.2em;
  }
}

.link-underline-animate {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    background: rgba(0, 0, 0, var(--tw-text-opacity));
    @media (prefers-color-scheme: dark) {
      background: rgba(243, 244, 246, var(--tw-text-opacity));
    }
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
    left: 0;
  }
}
