*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body,
#app {
  @apply min-h-screen;
  @apply bg-transparent;
  @apply text-neutral-800 dark:text-gray-200;
}

html {
  @apply scrollbar scrollbar-thumb-dark-50 scrollbar-track-dark-500;
}

body {
  overflow-y: scroll;
}

button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a,
button {
  &:focus-visible {
    @apply outline-black dark:outline-white;
  }
}

.icon-inline {
  display: inline;
  position: relative;
  top: -0.1rem;

  &:not([class*="h-"]) {
    height: 1.2em;
  }
  &:not([class*="w-"]) {
    width: 1.2em;
  }
}

.link-underline-animate {
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
    @apply bg-current;
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
    left: 0;
  }
}
