html,
#app {
  background-color: transparent;
}

// to prevent offcanvas from jumping
html {
  height: 100vh;
  padding: 0;
}
body,
#app,
.layout-container {
  min-height: 100vh;
  padding: 0;
}

.show-when-wide {
  @media not all and (min-width: 640px) {
    display: none;
  }
}
.show-when-narrow {
  @media (min-width: 640px) {
    display: none;
  }
}
